<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <title>RX Controller for Gordy's Home</title>
    <link rel="stylesheet" href="css/receiver.css">
</head>
<body>
<h1><a href="https://gordywills.ddns.net">gordywills.ddns.net</a><br/>Rx Controler</h1>
<div>
    {% block content %}
    {% endblock %}
</div>
<script src="js/receiver.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
</body>
</html>