{% extends "base.html" %}
{% block content %}
    <div id="g_id_onload"
         data-client_id="593257307226-5ule00kdvqasrju9dasv49p0m2g3fnd2.apps.googleusercontent.com"
         data-context="use"
         data-ux_mode="popup"
         data-callback="handle_jwt"
         data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-shape="pill"
         data-theme="filled_black"
         data-text="continue_with"
         data-size="large"
         data-locale="en-GB"
         data-logo_alignment="left">
    </div>
{% endblock %}