{% extends "base.html" %}
{% block content %}
<div id="noSocket">
    <span>The Unit is unavailable, please power on the Unit ensure it is connected to the network.</span>
</div>
<div>
    <span>The error message was</span>
    <br/>
    <span>{{ errtext }}</span>
</div>
{% endblock %}