{% extends "base.html" %}
{% block content %}
<div id="noPower">
    <span>No Power To Unit</span>
</div>

<div>
    <table>
        <tr>
            <td class="header">Power</td>
            <td id="powerControl" class="controller"></td>
            <td id="powerStatus" class="dotDisplay">Updating...</td>
            <td></td>


        </tr>
        <tr>
            <td class="header">Func</td>
            <td class="controller"></td>
            <td id="functionStatus" class="dotDisplay">Updating...</td>
            <td id="functionControl" class="arrowControl">
                <img id="functionUp" class="arrowUp" src="resources/green-up-arrow-hi.png" height="25">
                <img id="functionDown" class="arrowDown" src="resources/green-down-arrow-hi.png" height="25">
            </td>


        </tr>
        <tr>
            <td class="header">Vol</td>
            <td id="volumeMute" class="controller"></td>
            <td id="volumeStatus" class="dotDisplay">Updating...</td>
            <td id="volumeControl" class="arrowControl">
                <img id="volumeUp" class="arrowUp" src="resources/green-up-arrow-hi.png" height="25">
                <img id="volumeDown" class="arrowDown" src="resources/green-down-arrow-hi.png" height="25">
            </td>

        </tr>
        <tr>
            <td colspan="4">
                <div id="volumeSlider">
                    <div id="custom-handle" class="ui-slider-handle"></div>
                </div>
            </td>
        </tr>
    </table>
</div>


<button onclick="handle_logout()" type="button">Logout</button>
<script type="text/javascript">
    $(document).ready(function () {
        $('#noPower').hide();
        sliderSetup();
        setup_click_listeners();
        start_timers(30 * 1000);
    });
</script>
{% endblock %}