{% extends "base.html" %}
{% block content %}
    <div>
        <p>This is a private application, no unauthorised use is permitted.  Unauthorised use is not warrantied in any
            fashion, no privacy, efficacy or safety is conferred.</p>
    </div>
{% endblock %}