table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
table, th, td {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    text-align: left;
}
th, td {
    background-color: #339933;
    padding: 5px 10px;
}
body {
    background-color: #267326;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    padding: 20px 5px;
}
a {
    color: whitesmoke;
}
div, button {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: grid;
}







#noPower {
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    color: red;
    font-size: 4em;
    text-align: center;
    padding-top: 30px;
    padding-left: 18%;
    display: none;
}

.dotDisplay {
    font-family: digiReadOut, sans-serif;
    color: lime;
    font-size: 2.6em;
    padding: 10px;
    width: auto;
}
.controller {
    font-size: 1.2em;
    font-family: digiReadOut, sans-serif;
    color: lime;
    width: 75px;
}
.header {
    font-size: 1.2em;
    font-family: digiReadOut, sans-serif;
    color: lime;
    width: 75px;
}

#volumeSlider {
    height: 0.6em;
    width: 978px;
    background-color: lime;
    border-color: lime;
    margin-top: 6px;
    margin-bottom: 6px;
}

#custom-handle {
    width: 5em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    background-color: black;
    border-color: slategrey;
    color: slategrey;
    padding-left: 5px;
    cursor: pointer;
}


@font-face {
    font-family: "digiReadOut";
    src: url('../resources/led_counter-7.ttf') format("truetype");
}

.arrowControl {
    padding-left: 0;
    padding-right: 0;
    width:75px;
}

.arrowUp, .arrowDown,#powerIcon, #muteIcon {
    cursor: pointer;
}
 #powerIcon {
     margin-left: -20px;
 }
